   
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
    <!--Custom styles-->
  <div class="login">
  <div class="container ">
  <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
        
<br><br><h2 class="text-white">Pozabljeno geslo</h2>
<div class="d-flex justify-content-end social_icon">
				
				</div>
			</div>
<div class="card-body">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="input-group form-group input-group-lg">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.submit "Pošlji", :class => 'button' %>
  </div>
<% end %>
<div class="justify-content-center text-center txt1" >
<%= render "devise/shared/links" %>
</div>
