<br>
<h1>Moje rezervacije</h1>
<br>
<table class="sirina">
  <thead>
    <tr>
    <th>Restavracija</th>
    <th>Miza</th>
    <th> Število stolov </th>
    <th> Datum </th>
      <th>Od</th>
      <th>Do</th>

      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr class="stavba">
       <% @rooms.each do |room| %>
         <% if reservation.room_id == room.id%>
           <% @buildings.each do |building| %>
             <%if room.building_id.to_i == building.id%>
                <td><%= building.ime%></td>
                <td><%= room.stevilka %></td>
                <td><%= room.cena %></td>
             <% end %>
          <% end %>
        <% end %>
      <% end %>

      <td><%= reservation.od.strftime("%d-%m-%Y") %></td>

      <% if reservation.od > reservation.do %>
      <td><%= reservation.do.strftime("%T") %></td>
      <td><%= reservation.od.strftime("%T") %></td>
      <% else %>
      <td><%= reservation.od.strftime("%T") %></td>
      <td><%= reservation.do.strftime("%T") %></td>
      <% end %>
      
     
        
        
        
        
        <td><%= link_to 'Prekliči', reservation, method: :delete, data: { confirm: 'Ziher?' }, class:"link2" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

