<br>
<h1>Rezervacije pri meni</h1>
<br>
<table class="sirina">
  <thead>
    <tr>
    <th>Restavracija</th>
    <th>Miza</th>
    <th> Število stolov </th>
    <th> Datum </th>
      <th>Od</th>
      <th>Do</th>
      <th> Email </th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
 
  <% @buildings.each do |building| %>
    <% if building.user.id == current_user.id %>
      <% @rooms.each do |room| %>
        <% if room.building_id.to_i == building.id.to_i %>
          <% @reservations.each do |reservation| %>
            <% if reservation.room_id.to_i == room.id.to_i %>
              <tr class="stavba">
                <td><%= building.ime%></td>
                <td><%= room.stevilka %></td>
                <td><%= room.cena %></td>
                <td><%= reservation.od.strftime("%d-%m-%Y") %></td>

               <% if reservation.od > reservation.do %>
                <td><%= reservation.do.strftime("%T") %></td>
                <td><%= reservation.od.strftime("%T") %></td>
             <% else %>
                <td><%= reservation.od.strftime("%T") %></td>
               <td><%= reservation.do.strftime("%T") %></td>
             <% end %>
             <% @users.each do |user| %>
              <%if user.id == reservation.user_id%>
              <td> <%=user.email%> </td>
              <%end%>
            <%end%>
             
                <td><%= link_to 'Izbriši', reservation, method: :delete, data: { confirm: 'Ziher?' }, class:"link2" %></td>
              </tr>
            <%end %>
          <% end %>
        <%end %>
      <% end %>
    <% end%>
  <% end %>
  
  </tbody>
  </table>
  
  
  

<br>

