   
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
<div class="login">
<div class="container ">
<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
		
<h2 class="text-white">Prijava</h2>
<div class="d-flex justify-content-end social_icon">
<span>
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to "", omniauth_authorize_path(resource_name, provider), class: 'fab fa-facebook-square fb ar' %><br />
            <% end %>
          <% end %>	
</span>
					
				</div>
			</div>
<div class="card-body">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
	<div class="input-group form-group input-group-lg">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>

    
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

 
  <div class="input-group form-group input-group-lg">
  <div class="input-group-prepend">
	  <span class="input-group-text"><i class="fas fa-key"></i></span>
  </div>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <div class="row align-items-center remember">
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      Zapomni si geslo
    </div>
  <% end %>
  </div><br/>
  
  <div class="form-group">
  
    <%= f.submit "Prijava" , :class => 'button'%>
  </div>
<% end %>
</div>
<div class="justify-content-center text-center txt1" >
<%= render "devise/shared/links" %>
</div>
</div>

</div>
