

<p>
  <strong>Building:</strong>
  <%= @room.building_id %>
</p>



<p>
  <strong>Stevilka:</strong>
  <%= @room.stevilka %>
</p>

<p>
  <strong>Klima:</strong>
  <%= @room.klima %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @room.wifi %>
</p>

<p>
  <strong>Invalidi:</strong>
  <%= @room.invalidi %>
</p>

<p>
  <strong>Zivali:</strong>
  <%= @room.zivali %>
</p>

<p>
  <strong>Fitnes:</strong>
  <%= @room.fitnes %>
</p>

<p>
  <strong>Kajenje:</strong>
  <%= @room.kajenje %>
</p>

<p>
  <strong>Postrezba:</strong>
  <%= @room.postrezba %>
</p>

<p>
  <strong>Restavracija:</strong>
  <%= @room.restavracija %>
</p>

<p>
  <strong>Bar:</strong>
  <%= @room.bar %>
</p>

<p>
  <strong>recepcija:</strong>
  <%= @room.recepcija %>
</p>

<p>
  <strong>Bazen:</strong>
  <%= @room.bazen %>
</p>

<p>
  <strong>Dvigalo:</strong>
  <%= @room.dvigalo %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @room.cena %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
